html {
    color: black;
}

body {
    font-family: 'mulish', sans-serif;
}

h1 {
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    font-size: 2rem;
    line-height: 1.2;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.home{
    display: flex;
    padding: 1rem;
}

.links {
    display: flex;
  }
  
  .work {
    margin-left: auto;
    padding: 1rem;
  }
  
  .links li {
    padding: 1rem;
  }
  
  .links a{
      line-height: 1.2;
  }
  .creator{
      display: none;
  }


  .first-about{
      padding-bottom: 1rem;
  }

img {
    max-width: 100%;
  }
  .intro {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
.description{
    font-size: 16px;
}


  @media screen and (min-width: 800px) {
    .intro {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 25vh 25vh;
    }
    
    .intro-text {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }
    .big-image {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .small-image-one {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    
    .small-image-two {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .creator{
        display: inline;
    }
  }

h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 3rem;
}

.me{
    object-fit: cover;
}


.about{
    padding: 1rem;
}

.second-about{
    padding-bottom: 1rem;
}

.creator-desc{
    inline-size: 290px;
    overflow-wrap: break-word;
    margin-top: 1rem;
}


.book-desc{
    grid-column: 1 / 2;
}

.start-looking{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.work{
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.work-one{
    grid-column: 2 / 2;
}

.work-two{
    grid-column: 2 / 2;
}

@media screen and (min-width: 800px) {
    .work{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 25vh 25vh;
    }
    
    .work-one {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .work-two {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    

}

h3{
    font-size: 25px;
}

footer {
    background-color: #303030;
    padding: 1rem;
}

.contact{
    margin-left: -2.5rem;
}
.footer{
    color: white;
}

footer p {
    margin-bottom: 0;
}





.title-work{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0rem;
    margin-left: 1rem;
}

.projects{
    font-size: 20px;
    font-weight: 300;
    line-height: 3;
    margin-left: 1.75rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}







.quote{
    font-style: italic;
    font-weight: 200;
    margin-left: 2rem;
    inline-size: 290px;
    overflow-wrap: break-word;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.deets{
    padding-top: 2rem;
    margin-left: 1rem;
}

.desc{
    margin-left: 1rem;
    padding-top: 2rem;
}

.final{
    height: 40rem;
    padding-top: 4rem;
}