.container{
    width: 100%;
}

* {
    font-family: Poppins;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #F3F3EC;
}

.test{
    position: relative;
}

h1{
    color: #0D3879;
    font-weight: bold; 
    letter-spacing: 1px;
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: left;
    left: 2.5rem;
    font-size: 80px;
    top: 21rem;
}

.charlie{
    object-fit: cover;
    width: 100%;
    padding-left: 5rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 50rem;
}
h2{
    color: #0D3879;
    font-weight: bold; 
    letter-spacing: 1px;
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: left;
    left: 2.5rem;
    font-size: 80px;
}
.menu{
    position: relative;
    top: 3rem;
}
.menu-title{
    top: 11.5rem;
}
h3{
    color: #0D3879;
    margin-left: 3rem;
}

p {
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-left: 5rem
}



.map{
    display: flex;
    margin-left: 5.15rem;
}


ul{
    list-style: none;
    margin-left: .5rem
}

.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column{
    display: grid;
    grid-gap: 1rem;
    margin-left: 2rem;
    font-size: 16px;
}

.facebook{
    margin-left: 4.7rem;
    margin-top: 4rem;
}

.first-column{
    line-height: 2.5rem;
}

.second-column{
    line-height: 2.5rem;
}


.description{
    font-size: 18px;
}
h3{
    font-size: 24px;
    margin-bottom: .5rem;
}
p{
    font-size: 20px;
}

.hot{
    margin-top: 2rem;
}
.other{
    margin-top: 2rem;
}
.food{
    margin-top: 2rem;
}


@media screen and (min-width: 800px) {
    .location {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .two-column {
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;
    }


    .food-section{
        margin-left: -2rem;
        margin-top: -1.9rem;
    }
}

.location{
    position: relative;
    top: 4rem;
}

.location-heading{
    top: 19rem;
}

.charlies-end{
    font-size: 43px;
    margin-top: 11.25rem;

}
footer{
    margin-top: 12rem;  

}
