.container{
    width: 100%;
}

* {
    font-family: Poppins;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #F3F3EC;
}

h1{
    color: #DFB640;
    font-weight: bold; 
    letter-spacing: 1px;
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 63%;
    left: -5rem;
}

h2{
    color: #DFB640;
    font-weight: bold; 
    letter-spacing: 1px;
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: left;
    left: 2.5rem;
    margin-top: 8rem;
}

h3{
    color: #DFB640;
    margin-left: 3rem;
}

p {
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-left: 5rem
}

header {
    margin-left: 5rem;
    margin-right: 3rem;
    padding: 1rem 0;
    position: relative;
}

.overview {
    background-color: var(--gray);
    color: white;
    padding: 4rem 0;
}



.sample {
    padding: 5rem 0;
}


.map{
    display: flex;
    margin-left: 5rem;
    bottom: 5rem;
}

.description{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -5rem;
}

ul{
    list-style: none;
    margin-left: .5rem
}

.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column{
    display: grid;
    grid-gap: 1rem;
    margin-left: 2rem;
}

.facebook{
    margin-left: 4.7rem;
}

.hero-name{
    top: 18.25rem;
}

.menu-title{
    top: 70rem;
}

.first-column{
    line-height: 2.5rem;
}

.second-column{
    line-height: 2.5rem;
}


@media screen and (min-width: 500px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
        font-size: 20px;
    }
    .hero-name{
        font-size: 60px;
    }
    h2{
        font-size: 60px;
    }
    .description{
        font-size: 18px;
    }
    h3{
        font-size: 24px;
        margin-bottom: 2rem;
    }
    p{
        font-size: 20px;
    }
    .hero-name{
        top: 18.25rem;
    }
    
    .menu-title{
        top: 40rem;
    }
    .Location{
        top: 5rem;
        position:relative;
        bottom: 8rem;
    }
    
    .location-heading{
        top: 6.5rem;
    }
    
    .charlies-end{
        top: 166.5rem;
    }
    
    .endcharlies{
        margin-top: 12rem;
    }
    .menu{
        margin-top: 5rem;
    }
    .hot{
        margin-top: 2rem;
    }
    .other{
        margin-top: 2rem;
    }
    .food{
        margin-top: 2rem;
    }
    